.line__container {
    padding: 0;
    background: #efefef;
    overflow: hidden;
    max-width: 800px;
    /*margin: 20px auto;*/
    font-size: 80%;
}

/* タイトル部分 */
.line__container .line__title {
    background: #273246;
    padding: 10px;
    text-align: center;
    font-size: 150%;
    color: #ffffff;
}

.caution {
    padding: 10px;
    background-color: #ffffff;
    font-size: 15px;
}

/* 会話部分 */
.line__container .line__contents {
    padding: 10px;
    overflow: hidden;
    line-height: 135%;
}

.line__container .scroll {
    height: 400px;
    overflow-y: scroll;
}

/* スタンプ画像最大幅 */
.line__container .stamp img {
    max-width: 150px;
}

/* 相手の会話 */
/*
.line__container .line__left {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 5px;
    max-width: 80%;
    clear: both;
}
*/
/* アイコン画像 */
/*
.line__container .line__left figure {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 15px;
    left: 0;
    padding: 0;
    margin: 0;

}
*/
.line {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 正方形を用意 */
.line__container img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.line__contents .line__left .text pre {
    width: 250px;
    word-wrap: normal;
    display: inline-block;
    vertical-align: middle;
    word-break: break-all;
    white-space: normal;
}


.line__container .name .text {
    margin-top: 15px;
    font-size: 80%;
    color: #ffffff;
}

/* コメントエリア */
.line__container .text {
    word-wrap: normal;
    position: relative;
    display: inline-block;
    margin: 0 0 0 13px;
    padding: 7px 10px;
    max-width: 100%;
    height: 50px;
    color: #555;
    font-size: 16px;
    background: #ffffff;
}

/* 吹き出し */
.line__container .text::after {
    content: "";
    position: absolute;
    top: 30%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #ffffff;
}

.line__container #text {
    margin-top: 10px;
}

/* 自分の会話 */
.line__container .line__right {
    position: relative;
    display: block;
    margin: 5px 0;
    max-width: 75%;
    float: right;
    margin-right: 15px;
    clear: both;
}

/* コメントエリア */
.line__container .line__right .text {
    padding: 10px;
    border-radius: 20px;
    background-color: #8de055;
    margin: 0;
    margin-left: 80px;
}

/* 吹き出し */
.line__container .line__right .text::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: -10px;
    top: 10px;
    border-left: 20px solid #8de055;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* 自分がスタンプを送る時 */
.line__container .line__right .stamp {
    position: relative;
    margin-left: 80px;
}

/* 既読エリア */
.line__container .line__right .date {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    text-align: right;
    left: -30px;
    bottom: 0px;
    font-size: 80%;
    color: #ffffff;
}

/*——————–
 吹き出しを作る
——————–*/
/* 全体のスタイル */
.kaiwa {
    margin-bottom: 25px;
  }
  /* 左画像 */
  .kaiwa-img-left {
    margin: 0;
    float: left;
    width: 60px;
    height: 60px;
    margin-right: -70px;
  }
  /* 右画像 */
  .kaiwa-img-right {
    margin: 0;
    float: right;
    width: 60px;
    height: 60px;
    margin-left: -70px;
  }
  .kaiwa figure img {
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin: 0;
  }
  /* 画像の下のテキスト */
  .kaiwa-img-description {
    padding: 5px 0 0;
    font-size: 10px;
    text-align: center;
    position: relative;
    bottom: 15px;
  }
  /* 左からの吹き出しテキスト */
  .kaiwa-text-right {
    position: relative;
    margin-left: 80px;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
    margin-right: 12%;
    float: left;
  }
  /* 右からの吹き出しテキスト */
  .kaiwa-text-left {
    position: relative;
    margin-right: 80px;
    padding: 10px;
    border-radius: 10px;
    background-color: #9cd6e7;
    margin-left: 12%;
    float: right;
  }
  p.kaiwa-text {
    margin: 0 0 20px;
  }
  p.kaiwa-text:last-child {
    margin-bottom: 0;
  }
  /* 左の三角形を作る */
  .kaiwa-text-right:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    top: 15px;
    left: -20px;
  }
  .kaiwa-text-right:after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #eee;
    top: 15px;
    left: -19px;
  }
  /* 右の三角形を作る */
  .kaiwa-text-left:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    top: 15px;
    right: -20px;
  }
  .kaiwa-text-left:after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid #9cd6e7;
    top: 15px;
    right: -19px;
  }
  /* 回り込み解除 */
  .kaiwa:after,.kaiwa:before {
    clear: both;
    content: "";
    display: block;
  }